<div class="tools" id="tools-{{pageId}}">
    <ul style="list-style: none;">
        <li><a id="locked-{{pageId}}" class="btn btn-large" title="{{t.txt_page_locked}}"><i class="fa fa-lock"></i></a></li>
        <li><a id="new-{{pageId}}" data-id="{{pageId}}" class="btn btn-large newBtn" title="{{t.txt_new}}"><i class="fa fa-plus-square-o"></i></a></li>
        <li><a id="edit-{{pageId}}" data-id="{{pageId}}" class="btn btn-large" title="{{t.txt_edit}}"><i class="fa fa-pencil-square-o"></i></a></li>
        <li><a id="old-{{pageId}}" data-id="{{pageId}}" class="btn btn-large" title="{{t.txt_old_revisions}}"><i class="fa fa-clock-o"></i></a></li>
    </ul>
</div>
